body {
    background-color: #ccc;
}

#title, .subtitle, .post_title {
    color: #000;
}

.photo {
    border: 1px solid #000;
    border-radius: 50%;
}

.post_title {
    font-size: 16;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: #fff;
    padding: 15px;
    border: 1px solid rgb(56, 56, 56);
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin-bottom: 15px;
}