body {
    background-color: #ccc;
    font-family: Verdana;
    max-width: 900px; /*ajusta o conteúdo caso a margen seja diminuída (alterne entre width e max-width e redimensione a tela da esquerda pra direita pra testar)*/
    margin: auto; /*centraliza o conteúdo ajustando a margem esquerda e direita de acordo com a tela (pode eliminar essa propriedade pra testar) */
}

#title, .subtitle, .post_title {
    color: #000;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: rgb(56, 56, 56);
}

.photo {
    border: 1px solid #000;
    border-radius: 50%;
}

.post_title {
    font-size: 16;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: #fff;
    padding: 15px;
    border: 1px solid rgb(56, 56, 56);
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    text-decoration: none;
}